/*Yleiset tyyliasetukset*/

/*Kuvat*/
img
{
    /*Asettelu*/
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/*Kuvaselitykset*/
figcaption
{
    /*Fontti*/
    font-size: 11px;
    /*Tekstin sijoitus*/
    text-align: center;
}

/*Tekstit*/
h1, h2, h3, h4
{
    /*Fontti*/
    font-family: Arial, sans-serif;
    /*Tekstin sijoitus*/
    text-align: center;
}


/* Pääsivu omat tyyliasetukset*/
.paasivu
{
    /*Sivun taustaväri*/
    background-color: #747474;

    /*Tekstin väri*/
    h1, h2, h3
    {
        color: #ffffff;
    }
}

/* Yhteystiedot*/
.yhteystiedot
{
    /*Sivun taustaväri*/
    background-color: #747474;

    /*Tekstin väri*/
    h1, h2, h3
    {
        color: #ffffff;
    }
}

/* peli1.html omat tyyliasetukset */
.peli1
{
    /*Sivun taustaväri*/
    background-color: black;

    /* kuvaselityksen väri*/
    figcaption
    {
        color: white;
    }

    /*Tekstin väri*/
    h1, h2, h3
    {
        color: #ffffff;
    }
}

/* peli2.html omat tyyliasetukset */
.peli2
{
    /*Sivun taustaväri*/
    background-color: black;

    /* kuvaselityksen väri*/
    figcaption
    {
        color: white;
    }

    /*Tekstin väri*/
    h1, h2, h3
    {
        color: #ffffff;
    }
}

/* peli3.html omat tyyliasetukset */
.peli3
{
    /*Sivun taustaväri*/
    background-color: rgb(250, 112, 0);

    /* kuvaselityksen väri*/
    figcaption
    {
        color: white;
    }

    /*Tekstin väri*/
    h1, h2, h3
    {
        color: #ffffff;
    }
}

/* peli4.html omat tyyliasetukset */
.peli4
{
    /*Sivun taustaväri*/
    background-color: rgb(218, 218, 218);

    /* kuvaselityksen väri*/
    figcaption
    {
        color: rgb(0, 0, 0);
    }

    /*Tekstin väri*/
    h1, h2, h3
    {
        color: #000000;
    }
}

/* peli5.html omat tyyliasetukset */
.peli5
{
    /*Sivun taustaväri*/
    background-color: rgb(44, 44, 44);

    /* kuvaselityksen väri*/
    figcaption
    {
        color: rgb(255, 255, 255);
    }

    /*Tekstin väri*/
    h1, h2, h3
    {
        color: #ffffff;
    }
}