/* Pääsivun vaalean harmaa taustaväri */
.paasivu {
    background-color: #747474; /* Vaalean harmaa */
    margin: 0;
    font-family: Arial, sans-serif;

    h1, h2, h3
    {
        color: #ffffff;
    }
}

/* Yhteystiedot vaalean harmaa taustaväri */
.yhteystiedot {
    background-color: #747474; /* Vaalean harmaa */
    margin: 0;
    font-family: Arial, sans-serif;

    h1, h2, h3
    {
        color: #ffffff;
    }
}

/* Peli1 omat tyyliasetukset */
.peli1 {
    background-color: black;

    figcaption
    {
        color: white;
    }

    /* Tekstin tyyli h2 ja h3 elementeille peli1.html sivulla*/
    h1, h2, h3
    {
        color: #ffffff;
    }

}

/* Peli2 omat tyyliasetukset */
.peli2 {
    background-color: black;

    figcaption
    {
        color: white;
    }

    /* Tekstin tyyli h2 ja h3 elementeille peli1.html sivulla*/
    h1, h2, h3
    {
        color: #ffffff;
    }

}

/* Peli3 omat tyyliasetukset */
.peli3 {
    background-color: rgb(250, 112, 0);

    figcaption
    {
        color: white;
    }

    /* Tekstin tyyli h2 ja h3 elementeille peli1.html sivulla*/
    h1, h2, h3
    {
        color: #ffffff;
    }

}

/* Peli3 omat tyyliasetukset */
.peli4 {
    background-color: rgb(218, 218, 218);

    figcaption
    {
        color: rgb(0, 0, 0);
    }

    /* Tekstin tyyli h2 ja h3 elementeille peli1.html sivulla*/
    h1, h2, h3
    {
        color: #000000;
    }

}

figcaption
{
    text-align: center;
    font-size: 11px;
}

/* Kuvat */
img
{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* otsikot */
h1, h2, h3, h4
{
    font-family: Arial, sans-serif;
    text-align: center;
}
